defaults
    log    global
    mode    http
    option    httplog
    option    dontlognull
        timeout connect 5000
        timeout client  50000
        timeout server  50000
    errorfile 400 /etc/haproxy/errors/400.http
    errorfile 403 /etc/haproxy/errors/403.http
    errorfile 408 /etc/haproxy/errors/408.http
    errorfile 500 /etc/haproxy/errors/500.http
    errorfile 502 /etc/haproxy/errors/502.http
    errorfile 503 /etc/haproxy/errors/503.http
    errorfile 504 /etc/haproxy/errors/504.http


frontend http_front
      bind *:80
      stats uri /haproxy?stats
      acl url_timelines path_beg /timelines
      use_backend timelines_back if url_timelines
      default_backend timelines_back
   
   backend http_back_users
      server users.1 localhost:5000 check
   
   backend timelines_back
      balance roundrobin
      server timelines.1 localhost:5100 check
      server timelines.2 localhost:5101 check
      server timelines.3 localhost:5102 check

